<div class="container min-vh-100 py-6 d-flex justify-content-center align-items-center" style="max-width:1920px">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="mb-4">
        <h1 class="fw-bold display-1">404</h1>
      </div>
      <div>
        <p class="h2">Questa pagina non esiste!</p>
        <p class="lead">{{message}}</p>
      </div>
      <div>
        <a class="btn btn-outline-secondary" [routerLink]="['/']" role="button">Home</a>
        <a class="btn btn-outline-secondary ms-3" [routerLink]="['/login']" role="button">Login</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>