@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-xl font-semibold;
  }

  table {
    @apply min-w-full;
  }

  table thead tr {
    @apply dark:border-b dark:border-gray-600 dark:bg-gray-600;
  }

  table tbody tr:nth-child(odd) {
    @apply bg-gray-200 dark:bg-transparent;
  }

  table tbody tr:nth-last-child(n + 2) {
    @apply dark:border-b dark:border-gray-600;
  }

  th,
  td {
    @apply p-2;
  }

  label {
    @apply block text-gray-600 dark:text-gray-300 text-sm font-semibold mb-2;
  }

  input,
  select,
  textarea {
    @apply px-4 py-2 rounded-lg bg-gray-300 dark:bg-gray-700 border border-gray-300 dark:border-gray-700 focus:outline-none focus:border-gray-400;
  }
  select {
    @apply border-r-8 border-transparent focus:border-transparent;
  }
  textarea {
    min-height: 100px;
    resize: vertical;
  }
  input:disabled,
  select:disabled,
  textarea:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  input[type="range"] {
    @apply w-full h-2 bg-gray-300 dark:bg-gray-700 rounded-lg appearance-none cursor-pointer;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply w-4 h-4 bg-gray-500  rounded-full;
    appearance: none;
    -webkit-appearance: none;
    /* transition: all 0.2s ease-in-out; */
  }

  /* Stile della traccia dello slider per Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    @apply bg-gray-300 dark:bg-gray-700 rounded-lg h-2;
  }

  /* Stile della traccia dello slider per Microsoft Edge */
  input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Stile del "thumb" (maniglia dello slider) per WebKit (Chrome, Safari, Edge) */
  input[type="range"]::-webkit-slider-thumb {
    @apply w-5 h-5 bg-gray-500 dark:bg-gray-400 rounded-full border-2 border-gray-700 dark:border-white;
    -webkit-appearance: none;
    appearance: none;
    transition: all 0.2s ease-in-out;
  }

  /* Stile del "thumb" (maniglia dello slider) per Mozilla Firefox */
  input[type="range"]::-moz-range-thumb {
    @apply w-5 h-5 bg-gray-500 dark:bg-gray-400 rounded-full border-2 border-gray-700 dark:border-white;
    transition: all 0.2s ease-in-out;
  }

  /* Stile del "thumb" per Microsoft Edge */
  input[type="range"]::-ms-thumb {
    @apply w-5 h-5 bg-gray-500 dark:bg-gray-400 rounded-full border-2 border-gray-700 dark:border-white;
  }

  hr {
    @apply border-t border-gray-300 dark:border-gray-700;
  }

  a {
    @apply text-gray-500 dark:text-gray-200 underline underline-offset-2;
  }

  a:hover {
    @apply text-gray-900 dark:text-white;
  }

  ul,
  ol {
    @apply list-inside text-gray-900 dark:text-white;
  }

  /* Stile della lista non ordinata (ul) */
  ul {
    @apply list-disc pl-5;
  }

  /* Stile della lista ordinata (ol) */
  ol {
    @apply list-decimal pl-5;
  }

  /* Stile degli elementi della lista */
  li {
    @apply mb-1 leading-relaxed;
  }

  /* Stile per liste nidificate */
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    @apply mt-1 pl-4;
  }

  /* Personalizzazione del marker in modalità scura */
  ul.dark\:list-disc {
    list-style-type: disc;
  }
  ol.dark\:list-decimal {
    list-style-type: decimal;
  }

  /* Personalizzazione per liste alternative */
  .list-circle {
    list-style-type: circle;
  }

  .list-square {
    list-style-type: square;
  }

  .list-roman {
    list-style-type: lower-roman;
  }

  .list-alpha {
    list-style-type: lower-alpha;
  }
}

@layer components {
  .loader {
    @apply w-12 h-12 border-6 border-gray-300 dark:border-gray-600 border-t-gray-700 dark:border-t-white rounded-full animate-spin;
  }

  .container {
    @apply container mx-auto px-4 py-4 -z-10;
  }

  .container-table {
    @apply w-full overflow-x-auto;
  }

  .text-primary {
    @apply text-gray-900 dark:text-white;
  }

  .text-silent {
    @apply text-gray-300 dark:text-gray-700;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-gray-500;
  }

  .text-disabled {
    @apply text-gray-400 dark:text-gray-500;
  }

  .text-monospace {
    @apply font-mono px-2 py-1 rounded-lg text-sm;
    @apply bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100;
    @apply border border-gray-400 dark:border-gray-700;
  }

  .text-success {
    @apply text-emerald-600 dark:text-emerald-500;
  }

  .text-error {
    @apply text-rose-600 dark:text-rose-500;
  }

  .text-warning {
    @apply text-yellow-500 dark:text-yellow-500;
  }

  .text-info {
    @apply text-blue-500 dark:text-blue-500;
  }

  .button-primary {
    @apply bg-gray-700 hover:bg-gray-600 dark:bg-gray-500 dark:hover:bg-gray-600 text-white font-bold py-2 px-6 rounded-lg transition no-underline cursor-pointer;
  }

  .button-primary:disabled {
    /* @apply bg-gray-600 text-gray-400 cursor-not-allowed; */
    @apply bg-gray-600 dark:bg-gray-600 text-gray-400 dark:text-gray-500 cursor-not-allowed;
  }

  .button-secondary {
    @apply bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 hover:bg-gray-600 text-white font-bold py-2 px-6 rounded-lg transition no-underline cursor-pointer;
  }

  .button-secondary:disabled {
    /* @apply bg-gray-300 text-gray-400 cursor-not-allowed; */
    @apply bg-gray-300 dark:bg-gray-700 text-gray-400 dark:text-gray-500 cursor-not-allowed;
  }

  .button-success {
    @apply bg-emerald-600 dark:bg-emerald-700 dark:hover:bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-6 rounded-lg transition no-underline cursor-pointer;
  }
  .button-success:disabled {
    @apply bg-emerald-600 dark:bg-emerald-700 text-gray-400 dark:text-gray-500 cursor-not-allowed;
  }

  .button-danger {
    @apply bg-rose-600 dark:bg-rose-700 dark:hover:bg-rose-600 hover:bg-rose-700 text-white font-bold py-2 px-6 rounded-lg transition no-underline cursor-pointer;
  }

  .button-danger:disabled {
    @apply bg-rose-600 dark:bg-rose-700 text-gray-400 dark:text-gray-400 cursor-not-allowed;
  }

  .bg-auto {
    @apply bg-white dark:bg-gray-800;
  }

  .bg-neon-success {
    @apply bg-emerald-600 border-emerald-600 dark:bg-emerald-700/50 dark:border-emerald-500 border-2 text-white;
  }

  .bg-neon-error {
    @apply bg-rose-600 border-rose-600 dark:bg-rose-700/50 dark:border-rose-500 border-2 text-white;
  }

  .bg-neon-warning {
    @apply bg-yellow-500 border-yellow-500 dark:bg-yellow-700/50 dark:border-yellow-500 border-2 text-gray-900 dark:text-white;
  }

  .bg-neon-info {
    @apply bg-blue-500 border-blue-500 dark:bg-blue-700/50 dark:border-blue-500 border-2 text-white;
  }

  .bg-neon-auto {
    @apply bg-gray-800 border-gray-800 dark:bg-gray-700/50  dark:border-gray-500 border-2 rounded-lg text-white;
  }

  .required::after {
    @apply text-rose-600 dark:text-rose-500;
    content: " *";
  }
}
