<app-navbar />
<div class="container">
  <header class="mb-6 flex items-center justify-between">
    <div>
      <h1>Iscrizioni</h1>
      <p class="text-secondary">
        Cerca, modifica ed aggiungi le iscrizioni dei ragazzi
      </p>
    </div>
    @if (canManageEnrollments()) {
    <a class="button-primary" [routerLink]="['/admin/enrollments/queue']">
      <fa-icon [icon]="faInbox" />
      Richieste in attesa
    </a>
    }
  </header>

  <!-- Campo di ricerca -->
  <div class="bg-auto p-4 rounded-lg shadow-lg mb-6">
    <div class="flex justify-between mb-2">
      <h2>Filtro</h2>
      <fa-icon class="text-md button-secondary"
        [icon]="faArrowRotateLeft"
        (click)="onResetSearch()"
       />
    </div>

    <form [formGroup]="searchForm">
      <div class="flex flex-wrap -mx-2">
        <div class="mb-4 sm:w-1/2 w-full px-2">
          <label class="block required">Anno</label>
          <input type="number" step="1" class="w-full" formControlName="year" />
        </div>

        <div class="mb-4 sm:w-1/2 w-full px-2">
          <label class="block">Settimane</label>
          <select class="w-full" formControlName="week">
            <option [ngValue]="null" class="text-secondary">Tutti</option>
            @for (week of weeks(); track week.id) {
            <option [value]="week.id">
              {{ week.startDate | date }} - {{ week.endDate | date }}
            </option>
            }
          </select>
        </div>

        <div class="mb-4 w-full px-2">
          <label class="block">Nome o cognome</label>
          <input type="text" class="w-full" formControlName="query" />
        </div>

        <div class="mb-2 sm:w-1/3 w-full px-2">
          <label class="block">Tipo scuola</label>
          <select class="w-full" formControlName="schoolId">
            <option [ngValue]="null" class="text-secondary">Tutti</option>
            @for(school of schools(); track school.id) {
            <option [value]="school.id">{{ school.name }}</option>
            }
          </select>
        </div>

        <div class="mb-2 sm:w-1/3 w-full px-2">
          <label class="block">Classe</label>
          <select class="w-full" formControlName="classId">
            <option [ngValue]="null" class="text-secondary">Tutti</option>
            @for (class of classes(); track class.id) {
            <option [value]="class.id">{{ class.name }}</option>
            }
          </select>
        </div>
        <div class="mb-2 sm:w-1/3 w-full px-2">
          <label class="block">Squadra</label>
          <select class="w-full" formControlName="teamId">
            <option [ngValue]="null" class="text-secondary">Tutti</option>
            @for (team of teams(); track team.id) {
            <option [value]="team.id">{{ team.name }}</option>
            }
          </select>
        </div>
      </div>
    </form>
  </div>

  <!-- Tabella iscrizioni -->
  <div class="bg-auto p-4 rounded-lg shadow-lg mb-6">
    <div class="flex justify-between mb-4">
      <h2>Risultati</h2>
      <fa-icon class="text-md button-secondary"
        [icon]="faPlus"
        [routerLink]="['/admin/enrollments/new']"
       />
    </div>

    <table class="w-full text-left">
      <thead>
        <tr>
          <th>Cognome</th>
          <th>Nome</th>
          <th class="lg:table-cell hidden">Classe</th>
          <th class="text-center">Settimane</th>
          <th class="lg:table-cell hidden text-center">Pagamenti</th>
          <th class="lg:table-cell hidden text-center">Squadra</th>
          <th class="lg:table-cell hidden text-center">Autorizzazioni</th>
          <th class="text-center">Azioni</th>
        </tr>
      </thead>
      <tbody>
        @for (enrollment of enrollments(); track enrollment.id) {
        <tr>
          <td>{{ enrollment.user.surname }}</td>
          <td>{{ enrollment.user.name }}</td>
          <td class="lg:table-cell hidden">
            {{ enrollment.school.name }}<br />
            <span class="text-secondary">
              Classe {{ enrollment.class.name }}° {{ enrollment.section }}
            </span>
          </td>
          <td class="text-center space-x-2">
            @for (week of weeks(); track week.id) {
            <span
              class="rounded-lg px-2 py-1"
              [class]="{
                'bg-neon-auto':
                  isEnrollmentWeekEnrolled(enrollment.weeks, week.id) === null,
                'bg-neon-warning':
                  isEnrollmentWeekEnrolled(enrollment.weeks, week.id) &&
                  !isEnrollmentWeekPaid(enrollment.weeks, week.id),
                'bg-neon-success':
                  isEnrollmentWeekEnrolled(enrollment.weeks, week.id) &&
                  isEnrollmentWeekPaid(enrollment.weeks, week.id)
              }"
              title="Stato: {{
                isEnrollmentWeekEnrolled(enrollment.weeks, week.id)
                  ? 'Iscritto - ' +
                    (isEnrollmentWeekPaid(enrollment.weeks, week.id)
                      ? 'Pagato'
                      : 'Non pagato')
                  : 'Non iscritto'
              }}, Settimana: {{ week.startDate | date : 'dd/MM/yyyy' }} - {{
                week.endDate | date : 'dd/MM/yyyy'
              }}"
              >{{ week.id }}</span
            >
            }
          </td>
          <td class="lg:table-cell hidden text-center">
            @if (getTotalWeeksPayed(enrollment.weeks) ==
            enrollment.weeks.length) {
            <span>OK</span>
            } @else {
            <span
              class="rounded-lg px-2 py-1"
              [class.bg-neon-warning]="getTotalWeeksPayed(enrollment.weeks) < enrollment.weeks.length"
              >{{ getTotalWeeksPayed(enrollment.weeks) }} /
              {{ enrollment.weeks.length }}</span
            >
            }
          </td>
          <td class="lg:table-cell hidden text-center">
            @if (enrollment.team) {
            <span
              class="underline underline-offset-2"
              [style.text-decoration-color]="enrollment.team.color"
            >
              {{ enrollment.team.name }}
              <fa-icon [icon]="faDroplet"
                [style.color]="enrollment.team.color"
               />
            </span>
            } @else { <span class="text-secondary">-</span> }
          </td>
          <td class="lg:table-cell hidden space-x-3 text-center">
            <fa-icon [icon]="
                enrollment.dataProcessingConsent
                  ? faThumbTack
                  : faThumbTackSlash
              "
              [class]="{
                'text-success': enrollment.dataProcessingConsent,
                'text-error': !enrollment.dataProcessingConsent
              }"
              class="text-xl"
              [title]="
                (enrollment.dataProcessingConsent ? 'AUTORIZZA' : 'NEGA') +
                ' il consenso al trattamento dei dati'
              "
             />
            <fa-icon [icon]="faCamera"
              [class]="{
                'text-success': enrollment.imageProcessingConsent,
                'text-error': !enrollment.imageProcessingConsent
              }"
              class="text-xl"
              [title]="
                (enrollment.imageProcessingConsent ? 'AUTORIZZA' : 'NEGA') +
                ' le immagini'
              "
             />
            <fa-icon [icon]="enrollment.exitAuthorization ? faDoorOpen : faDoorClosed"
              [class]="{
                'text-success': enrollment.exitAuthorization,
                'text-error': !enrollment.exitAuthorization
              }"
              class="text-xl"
              [title]="
                (enrollment.exitAuthorization ? 'AUTORIZZA' : 'NEGA') +
                ' le uscite'
              "
             />
          </td>
          <td class="space-x-0 sm:space-x-3 space-y-1 text-center text-sm">
            <button
              class="button-primary"
              (click)="editEnrollment(enrollment.id)"
            >
              <fa-icon [icon]="faPen" />
            </button>
            <button
              class="button-secondary"
              (click)="openDeleteModal(enrollment)"
            >
              <fa-icon [icon]="faTrash" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    @if (enrollments().length == 0) {
    <div class="flex justify-center items-center h-20">
      <span class="text-secondary">Nessun risultato</span>
    </div>
    }

    <app-pagination [totalItems]="elements()"
      (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onSizeChange($event)"
     />
  </div>
</div>

<!-- Overlay -->
@if (isDeleteModalOpen()) {
<div
  class="fixed inset-0 bg-black/50 transition-opacity flex items-center justify-center z-0"
>
  <!-- Modale -->
  <div>
    <div class="bg-auto p-4 rounded-lg shadow-lg max-w-md w-full">
      <h2 class="text-xl font-semibold mb-2">Conferma eliminazione</h2>
      <p class="mb-4">
        Sei sicuro di voler eliminare l'iscrizione di
        <b
          >{{ enrollmentToDelete()?.user?.name }}
          {{ enrollmentToDelete()?.user?.surname }}</b
        >?
      </p>

      <!-- Pulsanti -->
      <div class="flex justify-end space-x-3">
        <button class="px-4 py-2 button-secondary" (click)="closeDeleteModal()">
          Annulla
        </button>
        <button class="px-4 py-2 button-danger" (click)="deleteEnrollment()">
          Conferma
        </button>
      </div>
    </div>
    @if (errorDelete(); as errorDelete) {
    <div class="bg-auto flex justify-center items-center mt-4">
      <div
        class="bg-neon-error p-3 rounded-lg shadow-lg w-full max-w-md text-center"
      >
        {{ errorDelete }}
      </div>
    </div>
    }
  </div>
</div>
}
<app-footer />
