<div class="min-h-screen flex flex-col justify-center items-center">
  <div class="max-w-3xl w-full px-4 text-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-4">
      Il Kit per l'Oratorio Estivo
    </h1>
    <p class="text-base sm:text-lg text-secondary mb-6">
      Un progetto open source pensato per aiutare animatori e staff a gestire le
      attività quotidiane dell'oratorio, tra cui iscrizioni, presenze, giochi
      interattivi e classifiche. Completamente personalizzabile per adattarsi
      alle esigenze del tuo oratorio.
    </p>

    <div
      class="flex flex-col sm:flex-row justify-center sm:space-x-4 space-y-3 sm:space-y-0"
    >
      <a routerLink="/user/enrollments/new" class="button-primary">
        Nuova iscrizione
      </a>
      <a routerLink="/login" class="button-secondary">Accedi al servizio</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
