<div class="min-h-screen flex flex-col justify-center items-center px-6">
  <div class="max-w-3xl text-center">
    <h1 class="text-4xl font-bold mb-4">Il Kit per l'Oratorio Estivo</h1>
    <p class="text-lg text-secondary mb-6">
      Un progetto open source pensato per aiutare animatori e staff a gestire le
      attività quotidiane dell'oratorio, tra cui iscrizioni, presenze, giochi
      interattivi e classifiche. Completamente personalizzabile per adattarsi
      alle esigenze del tuo oratorio.
    </p>

    <div class="flex justify-center space-x-4">
      <a routerLink="/login" class="button-primary"> Accedi come admin </a>
      <a
        href="https://github.com/kappucitti/kit-oratorio-estivo"
        target="_blank"
        class="button-secondary"
      >
        Scopri di più su GitHub
      </a>
    </div>
  </div>
</div>
