<div class="container">
  <!-- Footer -->
  <footer class="pt-5 pb-3">
    <hr>
    <div class="row">
      <!-- Quick Links -->
      <div class="col-lg-4 col-md-12 mb-4">
        <h5 class="text-uppercase">Link Rapidi</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
          <li><a [routerLink]="['/admin/my']">Il mio profilo</a></li>
        </ul>
      </div>

      <!-- About Section -->
      <div class="col-lg-4 col-md-12 mb-4">
        <h5 class="text-uppercase">Chi Siamo</h5>
        <p class="small">
          Il nostro progetto nasce per supportare le attività comunitarie,
          fornendo strumenti per la gestione di iscrizioni, squadre, presenze,
          e molto altro. Creiamo esperienze uniche per gli oratori estivi.
        </p>
      </div>

      <!-- Social Media Links -->
      <div class="col-lg-4 col-md-12 mb-4">
        <h5 class="text-uppercase">Contribuisci</h5>
        <div class="d-flex gap-3">
          <p><a href="https://github.com/kappucitti/kit-oratorio-estivo" target="_blank" class="text-muted"><i
                class="bi bi-github fs-4"></i></a> Vuoi contribuire al progetto o hai domande? Contattaci e unisciti
            alla nostra missione per rendere le
            comunità più connesse e organizzate</p>
        </div>
      </div>
    </div>

    <hr class="border-light mt-4">

    <!-- Copyright and Credits -->
    <div class="text-center">
      <p class="mb-0 small">Progetto realizzato con <i class="bi bi-heart-fill text-danger"></i> da <a
          href="https://github.com/kappucitti" target="_blank">Kappu</a></p>
    </div>
  </footer>
</div>