@if (team) {
<div
  class="bg-auto py-2 px-3 rounded-lg border-l-8 transition shadow-lg"
  [ngStyle]="{ 'border-left-color': team.color }"
>
  <div class="flex justify-between items-center">
    <p class="font-semibold text-lg text-primary">{{ team.name }}</p>
    <div class="flex space-x-2">
      <fa-icon
        class="button-primary"
        [icon]="faPen"
        (click)="isEditModalOpen = true"
      ></fa-icon>
      <fa-icon
        class="button-secondary"
        [icon]="faTrash"
        (click)="isDeleteModalOpen = true"
      ></fa-icon>
    </div>
  </div>
</div>
}

<!-- Modale modifica squadra -->
@if (team && isEditModalOpen) {
<div
  class="fixed inset-0 bg-black/50 transition-opacity flex items-center justify-center z-50"
>
  <div class="bg-auto p-6 rounded-lg shadow-lg max-w-xl w-full">
    <h2 class="text-xl font-semibold mb-4">Modifica squadra</h2>

    <!-- Form -->
    <form [formGroup]="teamForm">
      <div class="flex flex-col space-y-4">
        <!-- Nome -->
        <div>
          <label class="block required">Nome squadra</label>
          <input type="text" formControlName="name" class="input w-full" />
        </div>

        <!-- Colore -->
        <div>
          <label class="block required">Colore</label>
          <input
            type="color"
            formControlName="color"
            class="input h-11 p-1 w-full"
          />
        </div>
      </div>
    </form>

    <!-- Pulsanti -->
    <div class="flex justify-end items-center mt-6">
      <!-- Azioni -->
      <div class="flex space-x-3">
        <button class="px-4 py-2 button-secondary" (click)="closeEditModal()">
          Annulla
        </button>
        <button
          class="px-4 py-2 button-primary"
          (click)="saveTeam()"
          [disabled]="teamForm.invalid"
        >
          Salva
        </button>
      </div>
    </div>

    <!-- Errore -->
    @if (error) {
    <div class="bg-neon-error p-3 rounded-lg shadow-lg mt-4 text-center">
      {{ error }}
    </div>
    }
  </div>
</div>
} @if (team && isDeleteModalOpen) {
<div
  class="fixed inset-0 bg-black/50 transition-opacity flex items-center justify-center z-0"
>
  <!-- Modale -->
  <div>
    <div class="bg-auto p-6 rounded-lg shadow-lg max-w-md w-full">
      <h2 class="text-xl font-semibold mb-2">Conferma eliminazione</h2>
      <p class="mb-4">
        Sei sicuro di voler eliminare la squadra
        <b>{{ teamForm.get("name")?.value }}</b
        >?
      </p>

      <!-- Pulsanti -->
      <div class="flex justify-end space-x-3">
        <button
          class="px-4 py-2 button-secondary"
          (click)="isDeleteModalOpen = false"
        >
          Annulla
        </button>
        <button class="px-4 py-2 button-danger" (click)="deleteTeam()">
          Conferma
        </button>
      </div>
    </div>
    @if (errorDelete) {
    <div class="bg-auto flex justify-center items-center mt-4">
      <div
        class="bg-neon-error p-3 rounded-lg shadow-lg w-full max-w-md text-center"
      >
        {{ errorDelete }}
      </div>
    </div>
    }
  </div>
</div>
}
