<div
  class="min-h-screen flex flex-col justify-center items-center px-4 text-center"
>
  <div class="w-full max-w-md sm:max-w-max">
    <h1 class="text-3xl sm:text-4xl font-bold mb-4">Pagina non trovata</h1>

    <p class="text-base sm:text-lg mb-4">
      Sembra che la pagina che stai cercando non esista o sia stata spostata.
    </p>

    <p class="text-sm sm:text-lg text-secondary mb-6">
      {{ message }}
    </p>

    <div
      class="flex flex-col sm:flex-row justify-center sm:space-x-4 space-y-3 sm:space-y-0"
    >
      <a routerLink="/" class="button-primary w-full sm:w-auto"
        >Torna alla Home</a
      >
      <a routerLink="/login" class="button-secondary w-full sm:w-auto"
        >Accedi come admin</a
      >
    </div>
  </div>
</div>
