<nav>
  <div class="container mx-auto flex items-center justify-between p-4">
    <!-- Icona Home -->
    <a routerLink="/admin" class="text-xl hidden xl:flex text-primary">
      <fa-icon [icon]="faHouse"></fa-icon>
    </a>

    <button
      class="text-xl xl:hidden focus:outline-none text-primary"
      (click)="toggleMenu()"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>

    <!-- Contenuto Collapse -->
    <div class="hidden xl:flex xl:items-center xl:space-x-6 w-full xl:w-auto">
      <ul class="xl:flex space-y-4 xl:space-y-0 xl:space-x-6">
        @for ( page of pages; track page.title){
        <li>
          <a
            [routerLink]="
              page.disabled || page.enabled == false ? undefined : page.url
            "
            class="flex items-center space-x-2 text-primary no-underline"
            [ngClass]="{
              'text-disabled cursor-not-allowed hover:no-underline':
                page.disabled,
              'hover:underline': !page.disabled
            }"
            ><fa-icon [icon]="page.icon"></fa-icon>
            <span>{{ page.title }}</span></a
          >
        </li>
        }
        <!-- <li>
          <a
            routerLink="/admin/people"
            class="flex items-center space-x-2 hover:underline text-primary no-underline"
            ><fa-icon [icon]="faAddressBook"></fa-icon> <span>Rubrica</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/admin/enrollment"
            class="flex items-center space-x-2 hover:underline text-primary no-underline"
            ><fa-icon [icon]="faUsers"></fa-icon> <span>Iscrizioni</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/attendances"
            class="flex items-center space-x-2 hover:underline text-primary no-underline"
            ><fa-icon [icon]="faHighlighter"></fa-icon> <span>Presenze</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/staff"
            class="flex items-center space-x-2 text-disabled cursor-not-allowed text-primary no-underline"
            ><fa-icon [icon]="faUserGear"></fa-icon> <span>Staff</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/teams"
            class="flex items-center space-x-2 hover:underline text-primary no-underline"
            ><fa-icon [icon]="faFlag"></fa-icon> <span>Squadre</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/leaderboard"
            class="flex items-center space-x-2 hover:underline text-primary no-underline"
            ><fa-icon [icon]="faChartLine"></fa-icon> <span>Classifica</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/games"
            class="flex items-center space-x-2 text-disabled cursor-not-allowed text-primary no-underline"
            ><fa-icon [icon]="faDragon"></fa-icon> <span>Giochi</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/music"
            class="flex items-center space-x-2 text-disabled cursor-not-allowed text-primary no-underline"
            ><fa-icon [icon]="faMusic"></fa-icon> <span>Musica</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/settings"
            class="flex items-center space-x-2 text-disabled cursor-not-allowed text-primary no-underline"
            ><fa-icon [icon]="faGears"></fa-icon> <span>Impostazioni</span></a
          >
        </li> -->
      </ul>
    </div>

    <!-- Icona Profilo con Dropdown -->
    <div class="relative">
      <button (click)="toggleDropdown()" class="focus:outline-none text-xl">
        <fa-icon [icon]="faCircleUser"></fa-icon>
      </button>
      <div
        *ngIf="isDropdownOpen()"
        class="absolute right-0 mt-2 w-48 bg-white rounded shadow-lg"
      >
        <a
          routerLink="/admin/my"
          class="block px-4 py-2 hover:bg-gray-200 text-gray-900 dark:text-gray-900 cursor-pointer rounded no-underline"
          >Profilo</a
        >
        <hr class="border-gray-300" />
        <a
          (click)="logout()"
          class="block px-4 py-2 hover:bg-gray-200 text-gray-900 dark:text-gray-900 cursor-pointer rounded no-underline"
          >Log out</a
        >
      </div>
    </div>
  </div>
</nav>

<div
  class="xl:hidden fixed top-0 left-0 h-full md:w-3/5 w-4/5 bg-auto shadow-lg transition-transform p-6 text-lg z-10"
  [ngClass]="{
    'translate-x-0': isMenuOpen(),
    '-translate-x-full': !isMenuOpen()
  }"
>
  <div class="flex items-center justify-between">
    <div>
      <a
        routerLink="/admin"
        class="flex items-center text-primary no-underline"
      >
        <fa-icon [icon]="faHouse"></fa-icon>
        <span class="ps-2">Progetto KOE</span>
      </a>
    </div>
    <div>
      <button (click)="toggleMenu()">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>
    </div>
  </div>
  <hr class="w-full my-6" />

  <div class="flex flex-col space-y-4">
    <ul class="space-y-4">
      @for ( page of pages; track page.title){
      <li>
        <a
          [routerLink]="
            page.disabled || page.enabled == false ? undefined : page.url
          "
          class="flex items-center space-x-2 text-primary no-underline"
          [ngClass]="{
            'text-disabled cursor-not-allowed hover:no-underline':
              page.disabled,
            'hover:underline': !page.disabled
          }"
          ><fa-icon [icon]="page.icon"></fa-icon>
          <span>{{ page.title }}</span></a
        >
      </li>
      }
    </ul>
  </div>
</div>

@if (isMenuOpen()) {
<div
  class="xl:hidden fixed inset-0 bg-black/50 transition-opacity z-0"
  (click)="toggleMenu()"
></div>
}
