<!-- <nav>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/admin" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <i class="bi bi-house"></i>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/admin/people" class="nav-link text-white">
              <i class="bi bi-journal"></i>
              Rubrica
            </a>
          </li>
          <li>
            <a href="/admin/enrollment" class="nav-link text-white">
              <i class="bi bi-people"></i>
              Iscrizioni
            </a>
          </li>
          <li>
            <a href="/admin/attendances" class="nav-link text-white">
              <i class="bi bi-highlighter"></i>
              Presenze
            </a>
          </li>
          <li>
            <a href="/admin/staff" class="nav-link text-white">
              <i class="bi bi-person-fill-gear"></i>
              Staff
            </a>
          </li>
          <li>
            <a href="/admin/teams" class="nav-link text-white">
              <i class="bi bi-flag"></i>
              Squadre
            </a>
          </li>
          <li>
            <a href="/admin/leaderboard" class="nav-link text-white">
              <i class="bi bi-graph-up"></i>
              Clasffica
            </a>
          </li>
          <li>
            <a href="/admin/games" class="nav-link text-white">
              <i class="bi bi-joystick"></i>
              Giochi
            </a>
          </li>
          <li>
            <a href="/admin/music" class="nav-link text-white">
              <i class="bi bi-music-note-list"></i>
              Musica
            </a>
          </li>
          <li>
            <a href="/admin/settings" class="nav-link text-white">
              <i class="bi bi-gear"></i>
              Impostazioni
            </a>
          </li>
          <li>
            <div class=" flex-shrink-0 dropdown">
              <div class="nav-link text-white d-block dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-badge"></i>
              </div>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="/admin/my">Profilo</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="/admin" class="navbar-brand">
      <i class="bi bi-house"></i>
    </a>

    <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="ms-auto collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/admin/people" class="nav-link text-white">
            <i class="bi bi-journal"></i> Rubrica
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/enrollment" class="nav-link text-white">
            <i class="bi bi-people"></i> Iscrizioni
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/attendances" class="nav-link text-white">
            <i class="bi bi-highlighter"></i> Presenze
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/staff" class="nav-link text-white">
            <i class="bi bi-person-fill-gear"></i> Staff
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/teams" class="nav-link text-white">
            <i class="bi bi-flag"></i> Squadre
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/leaderboard" class="nav-link text-white">
            <i class="bi bi-graph-up"></i> Classifica
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/games" class="nav-link text-white">
            <i class="bi bi-joystick"></i> Giochi
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/music" class="nav-link text-white">
            <i class="bi bi-music-note-list"></i> Musica
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/settings" class="nav-link text-white">
            <i class="bi bi-gear"></i> Impostazioni
          </a>
        </li>
      </ul>
    </div>

    <div class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="profileDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-badge"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="profileDropdown">
        <li><a class="dropdown-item" href="/admin/my">Profilo</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>

  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Icona Home -->
    <a href="/admin" class="navbar-brand">
      <i class="bi bi-house"></i>
    </a>


    <!-- Bottone Collapse visibile su schermi piccoli -->
    <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <!-- Contenuto Collapse -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/admin/people" class="nav-link text-white">
            <i class="bi bi-journal"></i> Rubrica
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/enrollment" class="nav-link text-white">
            <i class="bi bi-people"></i> Iscrizioni
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/attendances" class="nav-link text-white">
            <i class="bi bi-highlighter"></i> Presenze
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/staff" class="nav-link text-white btn disabled">
            <i class="bi bi-person-fill-gear"></i> Staff
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/teams" class="nav-link text-white">
            <i class="bi bi-flag"></i> Squadre
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/leaderboard" class="nav-link text-white btn">
            <i class="bi bi-graph-up"></i> Classifica
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/games" class="nav-link text-white btn disabled">
            <i class="bi bi-joystick"></i> Giochi
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/music" class="nav-link text-white btn disabled">
            <i class="bi bi-music-note-list"></i> Musica
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/settings" class="nav-link text-white btn disabled">
            <i class="bi bi-gear"></i> Impostazioni
          </a>
        </li>
      </ul>
    </div>

    <!-- Icona Profilo con Dropdown -->
    <div class="nav-item dropdown ms-3">
      <a class="nav-link text-white dropdown-toggle" href="#" id="profileDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-badge"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="profileDropdown">
        <li><a class="dropdown-item" href="/admin/my">Profilo</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
      </ul>
    </div>

  </div>
</nav>