# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=3000
SERVER_ROUTES_PREFIX=/api
SERVER_DOMAIN=localhost
SERVER_FRONTEND_PORT=4200

# HTTPS
SERVER_USE_HTTPS=false
HTTPS_CERT=ssl/cert.pem
HTTPS_KEY=ssl/key.pem

# Logs
LOG_LEVEL=debug
LOG_FOLDER=logs

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=surelynotyourpassword
DB_DATABASE=oratorio
DB_WAIT_FOR_CONNECTIONS=true
DB_CONNECTION_LIMIT=10
DB_QUEUE_LIMIT=3

# Music folder
MUSIC_FOLDER=../public/music